:host {

    &.selected a {
        background-color: #ddd;
    }

    &.child a {
        padding-left: 20px;
    }
    
    li {
        display: flex;
        flex-direction: column;
    }

    a {
        display: flex;
        align-items: center;
        margin: 0px 5px;
        border-radius: 5px;
        padding: 5px;
        text-decoration: none;
        font-size: 1em;
        color: #D24DB3;
        .material-symbols-outlined {
            margin-right: 5px;
        }
        &:hover {
            background-color: #eee;
        }
    }

    .text {
        flex: 1;
    }
}